spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/speedrweb_dev
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.speedrweb: DEBUG
    org.springframework.web: DEBUG
